<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row" style="padding-top: 3em;">
      <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
          <img [src]="contact.imgUrl" alt="{{contact.name}}">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right clearfix">
          <a style='margin-right: 5px;' class="btn btn-primary" routerLink="edit">Edit</a>
          <a class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <strong>Email:{{ contact.email }}</strong>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <strong>Phone:{{ contact.phone }}</strong>
      </div>
    </div>
  </div>
</div>
